# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the Pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the data

Load the file `'WorldCupMatches.csv'` as a DataFrame in Pandas.

In [10]:
# Import pandas using the standard alias
import pandas as pd

#f = open('WorldCupMatches.csv')
#lines = f.readlines()

#print(lines[0:2])

# Import 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

## Common methods and attributes

Use the correct method to look at the first 7 rows of the dataset.

In [5]:
# Print the first 7 rows of df
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [6]:
# Print the last 3 rows of df
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [7]:
# Print a concise summary of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [9]:
# Print the number of rows and columns in df
df.shape

(852, 20)

Use the appropriate attribute to get the column names

In [10]:
# Print the column names of df
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame information

When looking at the DataFrame's `.head()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [11]:
# Print rows 3 through 5
df.iloc[2:5]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

Now, print all the info from game 5-9, but we're only interested in printing out the, "Home Team Name" and the, "Away Team Name."

In [12]:
# Print rows 5 through 9 and columns 'Home Team Name' and 'Away Team Name'
df.loc[4:8, ['Home Team Name','Away Team Name']]

  Home Team Name Away Team Name
4      Argentina         France
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [27]:
# Print all info for games played in 1950 for Group 3
df.loc[(df['Stage'] == 'Group 3') & (df['Year'] == 1950)]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games.

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [28]:
# Print the 'Attendance' column for games played in 1950 for Group 3
df.loc[(df['Stage'] == 'Group 3') & (df['Year'] == 1950), ['Attendance']]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the World Cup, how many home games were played by the Netherlands?

In [52]:
'''Get a list of unique team names from both Home and Away 
to make sure we use the correct value to sort'''

teams = (list(df['Home Team Name']) + list(df['Away Team Name']))

unique_teams = list(set(teams))

unique_teams.sort()

print(unique_teams)

['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China PR', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Czech Republic', 'Czechoslovakia', "C�te d'Ivoire", 'Denmark', 'Dutch East Indies', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'France', 'German DR', 'Germany', 'Germany FR', 'Ghana', 'Greece', 'Haiti', 'Honduras', 'Hungary', 'IR Iran', 'Iran', 'Iraq', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Korea DPR', 'Korea Republic', 'Kuwait', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay', 'Peru', 'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Slovakia', 'Slovenia', 'South Africa', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland', 'Togo', 'Tunisia', 'Turkey', 'USA', 'Ukraine', 'Uruguay', 'Wales', 'Yugoslavia', 'Zaire', 'rn">Bosnia and Herzegovina', 'rn">Republic of Ireland', 'rn">Serbia and Montenegro', 'rn">Trinidad and Tobago', 'rn">United Arab Emirates']

In [133]:
# Number of home games played by the Netherlands
df.loc[df['Home Team Name'] == 'Netherlands', ['Home Team Name']].size

# Number of home games played by the Netherlands
Neth_home = df[df['Home Team Name'] == ('Netherlands')]
print(len(Neth_home))

32

How many games were played by the Netherlands in total?

In [67]:
# Number of games played by the Netherlands in total
df.loc[(df['Home Team Name'] == 'Netherlands') 
       | (df['Away Team Name'] == 'Netherlands')
       , ['Home Team Name']].size

54

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [3]:
df.value_counts(['Stage']).sort_index()

Stage
Final                       20
First round                  9
Group 1                     62
Group 2                     59
Group 3                     56
Group 4                     55
Group 5                      6
Group 6                     12
Group A                     60
Group B                     60
Group C                     48
Group D                     48
Group E                     48
Group F                     48
Group G                     30
Group H                     30
Match for third place       15
Play-off for third place     2
Preliminary round            8
Quarter-finals              66
Round of 16                 72
Semi-finals                 36
Third place                  2
dtype: int64

In [124]:
# Number of games the USA played in the 2014 world cup

us_2014_games = df.loc[((df['Home Team Name'] == 'USA') 
                        | (df['Away Team Name'] == 'USA')) 
                       & (df['Year'] == 2014), ['MatchID']]

#There are 5, but there is a duplicate
# To remove the duplicate:
# 1. have the df of games reduced to a single column
# 2. convert that df to a series with data = match IDs
# 3. Get the unique values from the series, which returns numpy array
# 4. get the size of the numpy array (doesn't use len)

pd.unique(pd.Series(us_2014_games['MatchID'])).size

4

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: as a first step, create a new dataset that only contains games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [152]:
# Number of countries participated in the 1986 world cup
countries_1986 = list(df.loc[df['Year'] == 1986, 'Home Team Name'].unique())
countries_1986 += list(df.loc[df['Year'] == 1986, 'Away Team Name'].unique())

countries_1986_unique = list(set(countries_1986))
countries_1986_unique.sort()

countries_1986_unique
len(countries_1986_unique)

24

In World Cup history, how many matches had 5 goals or more in total?

In [4]:
# Number of matches that had 5 or more goals in total

goals_min_5 = df.loc[(df['Home Team Goals'] + df['Away Team Goals'] >= 5)]

len(goals_min_5)

147

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column, "Half-time Goals."

In [11]:
# Create a new column 'Half-time Goals' in df
df['Half-time Goals'] = df['Half-time Home Goals'] + df['Half-time Away Goals']

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Half-time Goals
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,3
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,2
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,2
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,1
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,0

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [12]:
# Print all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [19]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name'] = 'Korea'
df.loc[df['Away Team Name'].str.contains('Korea'), 'Away Team Name'] = 'Korea'

df.loc[df['Home Team Name'] == 'Korea', 'Home Team Initials'] = 'NSK'
df.loc[df['Away Team Name'] == 'Korea', 'Away Team Initials'] = 'NSK'

Make sure to verify your answer!

In [21]:
# Check the updated columns
df.loc[(df['Home Team Name'] == 'Korea') | (df['Away Team Name']== 'Korea'),
       ['Home Team Name', 'Away Team Name', 'Home Team Initials', 'Away Team Initials']]

    Home Team Name Away Team Name Home Team Initials Away Team Initials
80         Hungary          Korea                HUN                NSK
88          Turkey          Korea                TUR                NSK
171   Soviet Union          Korea                URS                NSK
179          Korea          Chile                NSK                CHI
187          Korea          Italy                NSK                ITA
195       Portugal          Korea                POR                NSK
364      Argentina          Korea                ARG                NSK
374          Korea       Bulgaria                NSK                BUL
386          Korea          Italy                NSK                ITA
421        Belgium          Korea                BEL                NSK
434          Korea          Spain                NSK                ESP
444          Korea        Uruguay                NSK                URU
464          Spain          Korea                ESP                NSK
480          Korea        Bolivia                NSK                BOL
490        Germany          Korea                GER                NSK
524          Korea         Mexico                NSK                MEX
542    Netherlands          Korea                NED                NSK
556        Belgium          Korea                BEL                NSK
593          Korea         Poland                NSK                POL
609          Korea            USA                NSK                USA
625       Portugal          Korea                POR                NSK
635          Korea          Italy                NSK                ITA
639          Spain          Korea                ESP                NSK
640        Germany          Korea                GER                NSK
642          Korea         Turkey                NSK                TUR
655          Korea           Togo                NSK                TOG
672         France          Korea                FRA                NSK
691    Switzerland          Korea                SUI                NSK
710          Korea         Greece                NSK                GRE
721         Brazil          Korea                BRA                NSK
725      Argentina          Korea                ARG                NSK
737       Portugal          Korea                POR                NSK
742        Nigeria          Korea                NGA                NSK
753          Korea  C�te d'Ivoire                NSK                CIV
756        Uruguay          Korea                URU                NSK
788         Russia          Korea                RUS                NSK
802          Korea        Algeria                NSK                ALG
818          Korea        Belgium                NSK                BEL

## Summary

In this lab, you learned how to access data within Pandas!